.restaurants {
  &__wrapper {
    height: 40vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    position: relative;
    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      border-style: solid;
      padding: 3rem;
      display: inline-block;
      min-width: 15rem;
      text-align: center;
    }
  }
}
